body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.service-box {
  text-align: center;
  margin-bottom: 20px;
}

.service-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.promo-box {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.footer {
  margin-top: auto;
}

.row .service-box i {
  font-size: 30px;
  text-shadow: 2px 2px 4px #a4a4a4;
}

.container .service-box a {
  font-family: 'Mirza';
  color: rgb(0, 0, 0);
  text-decoration: none;
}
